@tailwind base;
@tailwind components;
@tailwind utilities;

input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

input, select, textarea, button, div, a {
    &:focus, &:active, &:hover {
        outline: none;
    }
}

.cell-half {
    @apply w-1/2 text-ellipsis;
}